absl-py==0.1.13
astor==0.6.2
bleach==1.5.0
click==6.7
configparser==3.5.0
eventlet==0.22.1
Flask==0.12.2
Flask-SocketIO==2.9.6
gast==0.2.0
greenlet==0.4.13
grpcio==1.10.1
html5lib==0.9999999
itsdangerous==0.24
Jinja2==2.10
Markdown==2.6.11
MarkupSafe==1.0
nibabel==2.2.1
NiftyNet==0.2.2
numpy==1.14.2
pandas==0.22.0
Pillow==5.1.0
protobuf==3.5.2.post1
python-dateutil==2.7.2
python-engineio==2.0.4
python-socketio==1.9.0
pytz==2018.4
scipy==1.0.1
SimpleITK==1.1.0
six==1.11.0
tensorboard==1.7.0
tensorflow==1.7.0
termcolor==1.1.0
Werkzeug==0.14.1
