h4 {
    text-align: center
}

canvas {
    width:100%;
    height: auto;
}

#overlay {
    width: 100vw;
    height: 100vh;
    background-color:aliceblue;
    z-index: 2;
    position: fixed;
}

.home {
    position: absolute;
    top: 80px;
    right: 10px;
}