<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/processing.css') }}"></style>
		<link href="https://fonts.googleapis.com/css?family=Suez+One" rel="stylesheet">
		<title>Processing MRI Request</title>
	</head>
<body>
	<div id="outer">
		<div id="title">
			Processing your request. This may take a while, please be patient
		</div>
		<div id="loader">
			<div id="image" class=gif01></div>
		</div>
		<div id="status">
			<div id="progress"></div>
			<div id="bar">Loading</div>	
		</div>
	</div>
	<script src="{{ url_for('static', filename='js/processing.js') }}"></script>
</body>
</html>